@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
}

.markdown-body h1:first-child {
  margin-top: 0;
}
.markdown-body .hljs-comment {
  color: var(--color-prettylights-syntax-comment);
}

.markdown-body .hljs-constant {
  color: var(--color-prettylights-syntax-constant);
}

.markdown-body .hljs-entity {
  color: var(--color-prettylights-syntax-entity);
}

.markdown-body .hljs-storage-modifier-import {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.markdown-body .hljs-entity-tag {
  color: var(--color-prettylights-syntax-entity-tag);
}

.markdown-body .hljs-keyword {
  color: var(--color-prettylights-syntax-keyword);
}

.markdown-body .hljs-string {
  color: var(--color-prettylights-syntax-string);
}

.markdown-body .hljs-variable {
  color: var(--color-prettylights-syntax-variable);
}

.markdown-body .hljs-brackethighlighter-unmatched {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.markdown-body .hljs-invalid-illegal {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.markdown-body .hljs-syntax-carriage-return {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.markdown-body .hljs-string-regexp {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.markdown-body .hljs-markup-list {
  color: var(--color-prettylights-syntax-markup-list);
}

.markdown-body .hljs-markup-heading {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.markdown-body .hljs-markup-italic {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.markdown-body .hljs-markup-bold {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.markdown-body .hljs-markup-deleted {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.markdown-body .hljs-markup-inserted {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.markdown-body .hljs-markup-changed {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.markdown-body .hljs-markup-ignored {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.markdown-body .hljs-meta-diff-range {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.markdown-body .hljs-brackethighlighter-angle {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.markdown-body .hljs-sublimelinter-gutter-mark {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.markdown-body .hljs-constant-other-reference-link {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}
